<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @recipe.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Cooking instructions:</strong>
  <%= @recipe.cooking_instructions %>
</p>

<p>
  <strong>Estimated time:</strong>
  <%= @recipe.estimated_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
